.copyright__link {
  display: block;
  font-family: @additional-font;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;

  text-decoration: none;

  @media (max-width: @mobile-only-width) {
    margin-top: 28px;
    margin-bottom: 32px;
  }
}

.copyright__link:active {
  opacity: 0.3;
}
