.description__text {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
}

.description__details {
  color: @basic-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  text-decoration: none;
}

.description__details:active {
  opacity: 0.3;
}
