.how-it-work {
  display: flex;
  flex-direction: column;
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    margin-top: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 71px;
  }
}

.how-it-work__title {
  margin: 0;

  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-work__list {
  display: grid;
  row-gap: 20px;

  padding: 0;
  margin: 0;
  margin-top: 40px;

  list-style: none;

  @media (min-width: @tablet-width) {
    margin-top: 72px;
    margin-bottom: 32px;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 90px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 72px;
    margin-bottom: 32px;
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
  }
}
