.main-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__inner-top {
  display: flex;
  justify-content: space-between;
}

.main-nav__logo {
  text-decoration: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-nav__toggle {
  width: 22px;
  height: auto;

  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 18px 18px;
  background-position: center center;
  border: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
