.offer {
  color: @basic-white;
  font-weight: 400;
  text-align: center;

  @media (min-width: @desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.offer__inner-top {
  min-height: 305px;
  padding-top: 27px;
  box-sizing: border-box;

  background-color: @background-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-width: @tablet-width) {
    min-height: 0;
    padding-top: 64px;

    text-align: left;

    background: none;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    padding-top: 116px;

    background-color: transparent;
  }
}

.offer__header {
  margin: 0;
  margin-bottom: 25px;

  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    margin: 0 88px;
    margin-bottom: 41px;

    color: @basic-black;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 80px;
    margin-right: 50%;
    margin-bottom: 40px;
  }
}

.offer__text {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0 88px;

    color: @basic-black;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 80px;
  }
}

.offer__program-link-wrapper {
  position: relative;

  margin-top: 135px;

  @media (min-width: @tablet-width) {
    margin: 0 83px;
    margin-top: 49px;
    margin-bottom: 526px;

    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    margin-top: 52px;
    margin-bottom: 267px;
  }

  &--bucket {
    &::before {
      content: "";

      position: absolute;
      top: -274px;
      left: calc(50% - 280px / 2);

      width: 280px;
      height: 271px;

      background-image: url("../img/index-can-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center center;

      @media (min-width: @tablet-width) {
        z-index: -1;
        top: -28px;
        left: -83px;

        width: 709px;
        height: 609px;

        background-image: url("../img/index-can-tablet@1x.jpg");
        // background-color: cadetblue;
      }

      @media (min-width: @desktop-width) {
        top: -314px;
        left: 369px;

        width: 552px;
        height: 499px;

        background-image: url("../img/index-can-desktop@1x.png");
      }
    }
  }
}

.offer__program-link {
  display: block;
  padding: 11px 47px;

  color: @basic-white;
  font-weight: inherit;
  font-size: 14px;
  line-height: 18px;

  background-color: @basic-green;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: @basic-focus-green;
  }

  &:active .offer__program-link-text {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: inline-block;
    padding: 14px 26px;

    font-size: 20px;
    line-height: 26px;
  }
}
