.offer {
  color: @basic-white;
  font-weight: 400;
  text-align: center;
}

.offer__inner-top {
  min-height: 305px;
  padding-top: 27px;
  padding-left: 36px;
  padding-right: 35px;
  box-sizing: border-box;

  background-color: @basic-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

.offer__header {
  margin: 0;
  margin-bottom: 25px;

  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;
}

.offer__text {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.offer__program-link-wrapper {
  margin: 0 20px;
  margin-top: 135px;
}

.offer__program-link {
  display: block;
  padding: 7px 44px;

  color: @basic-white;
  font-weight: inherit;
  font-size: 14px;
  line-height: 18px;

  background-color: @basic-green;
  text-decoration: none;
}
