.page-main__title {
  margin: 0 20px;
  margin-top: 27px;

  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;
}

.page-main__form {
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
}

.page-main__form-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-main__fieldset {
  border: 0;
}

.page-main__field-comment {
  font-family: @additional-font;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  color: @basic-black;
  text-align: center;
}

.page-main__submit {
  display: block;
  padding: 7px 44px;
  width: 100%;

  color: @basic-white;
  font-family: @basic-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  text-decoration: none;
  background-color: @basic-green;
  border: 0;
}
