.product-all {
  padding-top: 79px;

  text-align: center;

  list-style: none;
}

.product-all__info {
  color: @special-mega-dark-grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-all__description {
  color: @special-dark-grey;
  font-family: @additional-font;
  font-size: 12px;
  line-height: 16px;
}
