.product__title-link {
  color: @special-extra-dark-grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-decoration: none;
}

.product__info {
  color: @special-dark-grey;
  font-family: "Arial", "Arial Black", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.product__link {
  display: block;
  padding: 20px;

  color: @basic-white;
  font-weight: inherit;
  font-size: 16px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;

  text-decoration: none;
  background-color: @basic-green;

  &--all {
    color: @special-dark-grey;

    background-color: @basic-grey;
  }
}
