.promo-wrapper {
  min-height: 289px;
  box-sizing: border-box;
  margin: 20px;
  padding-top: 186px;
  padding-left: 58px;
  padding-right: 61px;
  padding-bottom: 43px;

  background-color: @basic-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}
