.promo-wrapper {
  min-height: 289px;
  box-sizing: border-box;
  margin: 20px;
  padding-top: 186px;
  padding-left: 58px;
  padding-right: 61px;
  padding-bottom: 43px;

  background-color: @basic-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 71px;
    padding-left: 423px;
    padding-right: 124px;
    padding-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    margin: 20px;
    width: 245px;
    padding-top: 184px;
    padding-left: 41px;
    padding-right: 43px;
    padding-bottom: 42px;
  }
}
