.steps__item {
  padding-left: 80px;
  min-height: 60px;
  color: @special-dark-grey;
  font-family: @additional-font;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 111px;
    padding-right: 74px;
    min-height: 116px;
  }
}
