.true-story {
  background-color: @basic-light-grey;
}

.true-story__title {
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

.true-story__text {
  font-family: @additional-font;
}

.true-story__statistic {
  padding: 0;
  list-style: none;
}

.true-story__total {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.true-story__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: 0;
}
