/* Colors */

@basic-white: #FFFFFF;
@basic-light-grey: #EAEAEA;
@basic-grey: #F2F2F2;
@basic-black: #000000;

@special-mega-dark-grey: #111111;
@special-extra-dark-grey: #222222;
@special-dark-grey: #444444;

@basic-green: #68B738;
@background-green: #65a93c;


/* Fonts */

@basic-font: "Oswald", "Arial", sans-serif;
@additional-font: "Arial", "Arial Black", sans-serif;


/* Viewports */

@mobile-only-width: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;


/* Containers */

@min-container: 280px;
@mobile-container: 550px;
@tablet-container: 708px;
@desktop-container: 1220px;
